<!-- Container for demo purpose -->
<div class="w-full md:w-2/3 mx-auto flex justify-between items-center p-4 ">

  <!-- Section: Design Block -->
  <section class="mt-10  mx-auto">
    <style>
@media (min-width: 992px) {
  #cta-img-nml-50 {
    margin-left: 50px;
  }
}

    </style>

    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0">
        <div class="flex lg:py-12">
          <img src="https://images.pexels.com/photos/4260325/pexels-photo-4260325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full rounded-lg shadow-lg"
            id="cta-img-nml-50" style="z-index: 10" alt="" />
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12 ">
        <div class="bg-green-700 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center text-center lg:text-left" style="background-color: #64b972">
          <div class="lg:pl-12">
            <h2 class="text-3xl font-bold mb-6">Why this app?</h2>
            <p class="mb-6 pb-2 lg:pb-0 mr-4">
                The Pomodoro app is a simple but effective method of organizing work that allows you to be more productive and efficient in your tasks. 
                Pomodoro applications offer many benefits that are worth exploring and taking advantage of.
            </p>

            <div class="flex flex-col md:flex-row md:justify-around xl:justify-start mb-6 mx-auto">
              <p class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0  xl:mr-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Helps with time management
              </p>

              <p class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0 xl:mr-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Increases motivation
              </p>
              <p class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0 xl:mr-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 mr-2">
                  <path fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                  </path>
                </svg>
                Improves performance
              </p>
            </div>
            <p>
                The application? The Pomodoro app offers many benefits for people 
                who want to increase their productivity and efficiency at work. 
                From time management to improving concentration and increasing motivation, 
                the benefits of using the Pomodoro app are obvious.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container my-24 px-6 mx-auto">
  <section class="mb-10 text-gray-800 text-center">
    <div class="px-6 py-12 md:px-12">
      <h2 class="text-5xl my-12 font-bold tracking-tight">
        Are you ready <br />
        <span class="text-blue-600">for a few sessions?</span>
      </h2>
      <a class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mb-2 md:mr-2"
        href="{{ path('app_session_create') }}" role="button" data-mdb-ripple="true" data-mdb-ripple-color="light">Get started</a>
    </div>
  </section>
  
</div>