<section class="w-full md:w-2/3 mx-auto mb-4 flex justify-between items-center p-4 bg-white shadow-md">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <ul class="text-gray-600 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a class="hover:underline">Session Legth</a>
                      </li>
                      <li class="mb-4">
                          <a class="hover:underline"> {{ session.sessionLength }} minutes</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul class="text-gray-600 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a class="hover:underline ">Break Legth</a>
                      </li>
                      <li class="mb-4">
                          <a class="hover:underline"> {{ session.breakLength }} minutes</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul class="text-gray-600 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a class="hover:underline">Count Sessions</a>
                      </li>
                      <li class="mb-4">
                          <a class="hover:underline">{{ session.sessionCount }} quantity</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
</section>