<div class="w-full md:w-2/3 mx-auto mb-20 flex justify-between items-center p-2 bg-white shadow-md">

    <!-- Timer -->
    <div class="w-2/5">
        <div>
            <h1 class="text-center font-bold text-lg mb-2 " id="time">Session 1/{{ session.sessionCount }}  </h1>
        </div>
        <div class="flex justify-center space-x-4">
            <button class="bg-green-500 px-1 py-1 rounded-md text-white font-bold" id="start-button" onclick="start()">Start</button>
            <button class="bg-red-500 px-1 py-1 rounded-md text-white font-bold hidden" id="pause-button" onclick="pause()">Pause</button>
            <button class="bg-blue-500 px-1 py-1 rounded-md text-white font-bold hidden" id="end-button" onclick="endSession()">End Session</button>
        </div>
    </div>


    <!-- Tasks -->
    <div class="w-3/5">
        <div>
            <h1 class="text-center font-bold text-lg mb-2">TEST</h1>
        </div>
       
        <div class="flex justify-center space-x-4">
            <p>TESS </br></p>
            <p>TESS </br></p>
            <p>TESS </br></p>
        </div>
    </div>


    <script>
            // 1. Utwórz zmienne globalne dla wartości `sessionLength`, `breakLength`, `sessionCount` i `timer`
            let sessionLength = {{session.sessionLength}};
            let breakLength = {{session.breakLength}};
            let sessionCount = {{session.sessionCount}};
            let timer;

            // 2. Ustaw wartości początkowe zmiennych
            let currentSession = 1;
            let minutes = sessionLength;
            let seconds = 0;
            let isSession = true;
            let isLastSession = false;

            // 3. Ustaw funkcję, która oblicza czas.
            function countdown() {
                let timeElement = document.getElementById("time");

                // ustawienie formatu czasu
                let formattedMinutes = ("0" + minutes).slice(-2);
                let formattedSeconds = ("0" + seconds).slice(-2);

                // aktualizacja czasu wyświetlanego w elemencie html
                if (isSession) {
                timeElement.innerHTML = "Session " + currentSession + "/" + sessionCount + " - " + formattedMinutes + ":" + formattedSeconds;
                } else {
                if (currentSession < sessionCount) {
                    timeElement.innerHTML = "Break - " + formattedMinutes + ":" + formattedSeconds + " left";
                } else {
                    isLastSession = true;
                    timeElement.innerHTML = "End of Study!";
                    let endButton = document.getElementById("end-button");
                    endButton.style.display = "block";
                }
                }

                // sprawdź czy czas sesji/przerwy minął
                if (minutes === 0 && seconds === 0) {
                if (isSession) {
                    isSession = false;
                    if (currentSession < sessionCount) {
                    minutes = breakLength;
                    timeElement.innerHTML = "Break - " + formattedMinutes + ":" + formattedSeconds + " left";
                    } else {
                    isLastSession = true;
                    timeElement.innerHTML = "End of Study!";
                    let endButton = document.getElementById("end-button");
                    endButton.style.display = "block";
                    }
                } else {
                    currentSession++;
                    isSession = true;
                    minutes = sessionLength;
                    timeElement.innerHTML = "Session " + currentSession + "/" + sessionCount + " - " + formattedMinutes + ":" + formattedSeconds;
                }
                }

                // aktualizacja czasu
                if (seconds === 0) {
                seconds = 59;
                minutes--;
                } else {
                seconds--;
                }
            }

            // 4. Ustaw funkcję start, która będzie uruchamiała stoper i przydzielając mu wartość dla czasu sesji.
            function start() {
                let startButton = document.getElementById("start-button");
                let pauseButton = document.getElementById("pause-button");
                startButton.style.display = "none";
                pauseButton.style.display = "block";
                countdown();
                timer = setInterval(countdown, 1000);
            }

            // 5. Ustaw funkcję pauzującą, która zatrzymuje stoper.
            function pause() {
                let startButton = document.getElementById("start-button");
                let pauseButton = document.getElementById("pause-button");
                startButton.style.display = "block";
                pauseButton.style.display = "none";
                clearInterval(timer);
            }

            // 6. Ustaw funkcję kończącą sesję, która zatrzyma stoper i wyświetli przycisk End Session.
            function endSession() {
                clearInterval(timer);
                let endButton = document.getElementById("end-button");
                endButton.style.display = "block";

            }

    </script>
</div>